html {
  font-size: 62.5% // this sets a base of 10, i.e. 1.6rem=16px
}

body {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: $dark-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}